body
{
/* 	font-family: 'Nunito', sans-serif; */
	font-family: 'Exo 2', sans-serif;
	background:url("background.jpg") no-repeat center center fixed;
	background-size:cover;
}

#language
{
	position:fixed;
	top:12px;
	right:80px;
	z-index:4000;
}

#language .btn-default
{
	width:32px;
	height:26px;
	padding:0px;
	margin:0px;
}
#french
{
	background:url("france_flag_bg.png") no-repeat center center;
}
#french:hover
{
	background:url("france_flag.png") no-repeat center center;
}
#english
{
	background:url("united_states_flag_bg.png") no-repeat center center;
}
#english:hover
{
	background:url("united_states_flag.png") no-repeat center center;
}

#caracteristiques
{
	position:fixed;
	top:48px;
	width:100%;
	z-index:1000;
}
#carac-phone
{
	margin-top:48px;
}
#carac-phone a
{
	text-align:left;
}

.row
{
	padding-top:100px;
	height:100%;
	position:relative;
}
.pic
{
	background:url("pic.png") no-repeat bottom right;
	background-size:10%;
}
.fa
{
	width:20px;
}

.panel-title
{
	font-size:2em;
}

dd, li
{
	margin-bottom:10px;
}

nav li
{
	margin-bottom:0px;
}


footer
{
	margin-bottom:20px;
}

.onehunperc
{
	font-size:100%;
}